{% extends "layout.html" %}

{% block title %}: Login{% endblock %}

{% block content %}
    <form class="login-form" action="register" method="post">
        <h1>Register</h1> 
        <div>
            <input placeholder="Username" class="login-input" name="username" autocomplete="off">
        </div>
        <div>
            <input placeholder="Password" type="password" class="login-input" name="password" autocomplete="off">
        </div>            
        <div>
            <input placeholder="Confirm Password" type="password" class="login-input" name="confirmation" autocomplete="off">
        </div>
        <div>
            <button type="submit" class="form-submit">Register</button>
        </div>
    </form>

{% endblock %}